.jumbotron {

  background-image:url("https://s-media-cache-ak0.pinimg.com/originals/a1/18/e3/a118e362fff002b3636cb1cc403aeedf.jpg");
  background-size: 200%;

}


p {


}
.panel-heading {
font-size: 2em;

}
